{% macro header(title, subtitle) -%}
    <!-- Content Header (Page header) -->
    <section id="windowtilte" class="content-header">
        <h1>
            {{ title }}
            <small>{{ subtitle }}</small>
        </h1>
    </section>

    <div id = "alert_placeholder"></div>

    {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
            {% for category,message in messages %}
                <div style="padding: 20px 30px; z-index: 999999; font-size: 16px; font-weight: 600;">
                    <div id="flashmessage" class="alert alert-{{category}} alert-dismissible">
                        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                        {{message}}
                    </div>
                </div>
            {% endfor %}
        {% endif %}
    {% endwith %}
{% endmacro %}
