.ltable a {
    display: block;
    text-decoration: none;
}


.lbtn-bot15 .btn {
	margin-bottom:15px;
}

.deleteundo {
    float: right;
    font-size: 14px;
    font-weight: 400;
    line-height: 1;
    text-shadow: 0 1px 0 #fff;
    opacity: .7;
    color: #3c8dbc;
    opacity: 0.7;
    filter: alpha(opacity=70);
    -webkit-appearance: none;
    padding: 0;
    cursor: pointer;
    background: 0 0;
    border: 0;
    height: 21px
}

.deleteclose {
    float: right;
    font-size: 21px;
    font-weight: 700;
    line-height: 1;
    text-shadow: 0 1px 0 #fff;
    opacity: .2;
    color: #b30000;
    opacity: 0.2;
    filter: alpha(opacity=20);
    -webkit-appearance: none;
    padding: 0;
    cursor: pointer;
    background: 0 0;
    border: 0;
    height: 21px 
}

.table-cell-removed {
    opacity: 0.15;
    filter: alpha(opacity=15);
}

.card-header .card-title {
    font-size: 24px;
    margin-top: 20px;
    margin-bottom: 10px;
}

.btn-primary {
    background-color: #3c8dbc;
    border-color: #367fa9;
}

a {
    color: #3c8dbc;
}

.page-item.active .page-link {
    background-color: #3c8dbc;
    border-color: #367fa9;
}

.page-link {
    background-color: #3c8dbc;
    border-color: #367fa9;
    color: #b3b3b3;
}



