            <div class="input-group" data-toggle="tooltip" title="PaSSHport SSL cert">
                <span class="input-group-addon"><i class="fa fa-desktop"></i></span>
                {% if elt %}
                    {% if superadmin %}
                        {{ form.sslcert(size=80, class_="form-control", placeholder="SSLCert", value=elt[0]['SSLCert']) }}
                    {% else %}
                        {{ form.sslcert(size=80, class_="form-control", placeholder="SSLCert", value=elt[0]['SSLCert'], disabled="") }}
                    {% endif %}
                {% else %}
                    {{ form.sslcert(size=80, class_="form-control", placeholder="SSLCert") }}
                {% endif %}
            </div>
            <div class="input-group" data-toggle="tooltip" title="PaSSHport SSL key">
                <span class="input-group-addon"><i class="fa fa-desktop"></i></span>
                {% if elt %}
                    {% if superadmin %}
                        {{ form.sslkey(size=80, class_="form-control", placeholder="Publickey", value=elt[0]['SSLkey']) }}
                    {% else %}
                        {{ form.sslkey(size=80, class_="form-control", placeholder="Publickey", value=elt[0]['SSLkey'], disabled="") }}
                    {% endif %}
                {% else %}
                    {{ form.sslkey(size=80, class_="form-control", placeholder="SSLkey") }}
                {% endif %}
            </div>
            </br>
