<div class="box box-primary">
    <div class="box-header with-border text-center">
        <h3 class="box-title">Attach new managers</h3>
    </div>
    <div class="box-body">
        <div class="input-group input-group" data-toggle="tooltip" title="Add usernames separated by commas">
            <span class="input-group-addon"><i class="fa fa-user"></i></span>
            <input class="form-control" id="inputaddmanager" name="username" placeholder="Username1, Username2,..." size="50000" type="text" value="">
            <span class="input-group-btn">
                <button id="addmanager" type="submit" class="btn btn-primary btn-flat">Add</button>
            </span>
        </div>
    </div>
</div>
