<div class="card card-primary">
    <div class="card-header with-border text-center">
        <h3 class=card-title">Players access by platforms</h3>
    </div>
    <div class="card-body">
        <table id="playerlist" class="ltable table table-bordered table-striped">
            <thead>
                <tr>
                    <th>Players proxies names</th>
                    <th>Comment</th>
                </tr>
            </thead>
            <!-- Data is loaded via javascript -->
            <tfoot>
                <tr>
                    <th>Players proxies names</th>
                    <th>Comment</th>
                </tr>
            </tfoot>
        </table>
    </div>
</div>

