<div class="card">
    <div class="card-header with-border text-center">
        <h3 class="card-title">Attach new targetgroups</h3>
    </div>
    <div class="card-body">
        <div class="input-group input-group" data-toggle="tooltip" title="Add targetgroupnames separated by commas">
            <div class="input-group-prepend"><span class="input-group-text"><i class="fa fa-server"></i></span></div>
            <input class="form-control" id="inputaddtargetgroup" name="targetgroupname" placeholder="Targetgroupname1, Targetgroupname2,..." size="50000" type="text" value="">
            <span class="input-group-btn">
                <button id="addtargetgroup" type="submit" class="btn btn-primary btn-flat">Add</button>
            </span>
        </div>
    </div>
</div>
