<div class="box box-primary">
    <div class="box-header with-border text-center">
        <h3 class="box-title">Attach new targets</h3>
    </div>
    <div class="box-body">
        <div class="input-group input-group" data-toggle="tooltip" title="Add targetnames separated by commas">
            <span class="input-group-addon"><i class="fa fa-desktop"></i></span>
            <input class="form-control" id="inputaddtarget" name="targetname" placeholder="Targetname1, Targetname2,..." size="50000" type="text" value="">
            <span class="input-group-btn">
                <button id="addtarget" type="submit" class="btn btn-primary btn-flat">Add</button>
            </span>
        </div>
    </div>
</div>
