<div class="card">
    <div class="card-header with-border">
        <h3 class=card-title">Existing targets</h3>
    </div>
    <div class="card-body">
        <table id="targetslist" class="ltable table table-bordered table-striped">
            <thead>
                <tr>
                    <th>Target Name</th>
                    <th>Hostname</th>
                    <th>Type</th>
                    <th>Login</th>
                    <th>Port</th>
                    <th>Comment</th>
                </tr>
            </thead>
            <!-- Data is loaded via javascript -->
            <tfoot>
                <tr>
                    <th>Target Name</th>
                    <th>Hostname</th>
                    <th>Type</th>
                    <th>Login</th>
                    <th>Port</th>
                    <th>Comment</th>
                </tr>
            </tfoot>
        </table>
    </div>
</div>

