<div class="box box-primary">
    <div class="box-header with-border text-center">
        <h3 class="box-title">Root password by dates</h3>
    </div>
    <div class="box-body">
        <table id="targetpassword" class="ltable table table-bordered table-striped">
            <thead>
                <tr>
                    <th>Date</th>
                    <th>Password</th>
                </tr>
            </thead>
            <!-- Data loaded via javascript -->
            </tbody-->
            <tfoot>
                <tr>
                    <th>Date</th>
                    <th>Password</th>
                </tr>
            </tfoot>
        </table>
    </div>
</div>
