<div class="card">
    <div class="card-header with-border text-center">
        <h3 class="card-title">Attached usergroups</h3>
    </div>
    <div class="card-body">
        <table id="attachedusergroups" class="ltable table table-bordered table-striped">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Comment</th>
                    {% if manager or superadmin %}
                        <th name="remove" class="nosort"></th>
                    {% endif %}
                </tr>
            </thead>
            <!-- Data loaded via javascript -->
            </tbody-->
            <tfoot>
                <tr>
                    <th>Name</th>
                    <th>Comment</th>
                    {% if manager or superadmin %}
                        <th name="remove" class="nosort"></th>
                    {% endif %}
                </tr>
            </tfoot>
        </table>
    </div>
</div>
