<div class="box box-primary">
    <div class="box-header with-border text-center">
        <h3 class="box-title">Attach new usergroups</h3>
    </div>
    <div class="box-body">
        <div class="input-group input-group" data-toggle="tooltip" title="Add usergroupnames separated by commas">
            <span class="input-group-addon"><i class="fa fa-users"></i></span>
            <input id="inputaddusergroup" class="form-control" id="usergroupname" name="usergroupname" placeholder="Usergroupname1, Usergroupname2,..." size="50000" type="text" value="">
            <span class="input-group-btn">
                <button id="addusergroup" type="submit" class="btn btn-primary btn-flat">Add</button>
            </span>
        </div>
    </div>
</div>
