<div class="card">
    <div class="card-header with-border">
        <h3 class=card-title">Granted targets access</h3>
    </div>
    <div class="card-body">
        <dl class="dl-horizontal">
            <dd id="usergroupaccess"><!-- Data is loaded via javascript --><dd>
        </dl>
    </div>
</div>
<div class="card">
    <div class="card-header with-border">
        <h3 class=card-title">Attachements</h3>
    </div>
    <div class="card-body">
        <dl class="dl-horizontal">
            <dt>Member of this Usergroups:</dt>
            <dd id="usergroupausergroup"><!-- Data is loaded via javascript --><dd>
            <dt>Directly allowed to access this targets:</dt>
            <dd id="usergroupatarget"><!-- Data is loaded via javascript --><dd>
            <dt>Member of this Targetgroups:</dt>
            <dd id="usergroupatargetgroup"><!-- Data is loaded via javascript --><dd>
        <dl>
    </div>
</div>

