<div class="box box-primary">
    <div class="box-header with-border text-center">
        <h3 class=box-title">WARNING</h3>
    </div>
    <div class="box-body">
        <p class="text-center">Be sure of the configuration you put here. This page will delete any previous configuration whithout any check.</br>
        Your url must be written wihtout "https://".</br>
        After you click on the "Apply" button, the service will be stopped and will restart.</br>
        If you need to update the certificates or the SSH keys, or if you made any error, you can see this page again using your IP: https://XXX.XXX.XXX.XXX/genconfig.</br></p>
    </div>
</div>

