<div class="box box-primary">
    <div class="box-header with-border text-center">
        <h3 class=box-title">Welcome to the PaSSHport administration panel</h3>
    </div>
    <div class="box-body">
        <p class="text-center">WARNING: This interface must be limited to passhport admin only.</br></br>
        This interface allows you to control all your SSH access, create users, targets (any ssh servers), organize groups... If you need any informations about passhport, you can find them on the <a href="https://docs.passhport.org/en/latest/" target="_blank">online documentation</a>.</br>
        PaSSHport is a free software published under GPLv3. You can find the sources and contribute directly on the <a href="https://github.com/LibrIT/passhport" target="_blank">gitub page</a>.
        </p>
    </div>
</div>

