<div class="row">
    <div class="card col-sm-12">
        <div class="card-header">
            <h3 class="card-title text-centered">Warning message</h3>
        </div>
        <div class="card-body">
            <p class="text-center">WARNING: This interface must be limited to passhport admin only.</br></br>
            This interface allows you to control all your SSH access, create users, targets (any ssh servers), organize groups... If you need any informations about passhport, you can find them on the <a href="https://docs.passhport.org/en/latest/" target="_blank">online documentation</a>.</br>
            PaSSHport is a free software published under GPLv3. You can find the sources and contribute directly on the <a href="https://github.com/LibrIT/passhport" target="_blank">gitub page</a>.
            </p>
        </div>
    </div>
</div>

