<div class="card">
    <div class="card-header with-border text-center">
        <h3 class=card-title">Welcome!</h3>
    </div>
    <div class="card-body">
        <p class="text-center">Welcome to the PaSSHport dashboard, this page allows you to open temporary access on several databases.</br></p>
        <p>If the database you want to access does not appear below, you must contact a PaSSHport administrator or a database manager. Then, just click on the target button and a temporary access will be opened for your IP address. You will be able to connect using the IP address and port provided on this screen. For security reasons every action on the databases is logged.
        </p>
    </div>
</div>

