{% extends "skels/with_sidebar.html" %}


{% block head %}
    <link rel="stylesheet" href="/static/bower_components/datatables.net-bs/css/dataTables.bootstrap.min.css">
{% endblock %}

{% block links %}
    {{ links.sidebarlinks('/index', superadmin, managesomething, player) }}
{% endblock links %}


{% block headtitle %} 
    {{ header.header("Dashboard" | title, "Open access to databases") }}
{% endblock %}


{% block body %}
    <div class="row">
        <div class="col-xs-12">
            {% include "boxes/welcome_message.html" %}
            {% include "boxes/accessible_database_list.html" %}
        </div>
    </div>
{% endblock %}


{% block script %}
    {% include "scripts/lists_common.html" %}
    {% include "scripts/accessible_database_list.html" %}
{% endblock %}
