[req]
distinguished_name	= req_distinguished_name
req_extensions		= v3_req
subjectKeyIdentifier	= hash
authorityKeyIdentifier	= keyid:always,issuer

[v3_req]
subjectAltName		= @alternate_names
basicConstraints	= CA:TRUE
subjectKeyIdentifier	= hash
authorityKeyIdentifier	= keyid:always,issuer

[req_distinguished_name]

[ alternate_names ]
DNS.1 = localhost
DNS.2 = passhport
DNS.3 = passhport.passhport.org
DNS.4 = passhport.librit.fr
DNS.5 = bastion
DNS.6 = bastion.passhport.org
DNS.7 = bastion.librit.fr
